.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #835afd;
  color: #fff;
  padding: 0 32px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: background 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background: #fff;
    border: 1px solid #835afd;
    color: #835afd;
    transition: background 0.4s;

    &:not(:disabled):hover {
      color: #fff;
    }
  }

  &.canceled {
    background: #DBDCDD;
    color: #737380;

    &:not(:disabled):hover {
      background: #CECECE;
    }
  }

  &.closed {
    background: #E73F5D;
    color: #fff;

    &:not(:disabled):hover {
      background: #D73754;
    }
  }

  &:not(:disabled):hover {
    background: #6F4BD8;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}